body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Khula", sans-serif;
  text-align: center;
}

.container {
  width: 100%;
}

.row {
  display: flex;
}

h1,
h2 {
  font-family: "Lobster", cursive;
  color: #5169d4;
}

.scores {
  font-size: 18px;
}

#score,
#death-score,
#high-score,
#enemy-count {
  color: #e44900;
}

.rules {
  margin-top: 50px;
}

.rules-text {
  margin-top: 30px;
}

canvas {
  margin-top: -20px;
}

button {
  margin-top: 30px;
}
